@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {

}

@theme {
  --color-blue-main: rgba(137, 219, 239, 1);

  /* --breakpoint-xs: 1000px; */
  --breakpoint-xs: 1048px;

  --font-heading: var(--spectral-font);
  --font-sans: var(--poppins-font);
}
