@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  font-family: Poppins, Helvetica, sans-serif;
}

@theme {
  --color-blue-main: rgba(137, 219, 239, 1);

  /*
  #FF6E3C
  #4187F5
  #F5BE5A
  #6EBEA0
  */
}
